#block-text.block
  .content
    %h2.title Dashboard
    .inner
      %p.first
        This is the Diamond Brite Admin Dashboard. This is where you can manage accounts and blog posts.
      %span.hightlight
        The changes you make here will be affected to all live accounts.
      %p
        %span.small
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      %p
        %span.gray
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      %hr
      %p
        This is second span
        %span.hightlight
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
-content_for :sidebar, partial("base/sidebar")
