!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Diamond Brite Admin
    =stylesheet_link_tag "bootstrap"
  %body
    #container
      #header
        %h1=link_to "Diamond Brite Admin", url(:posts_index)
        #user-navigation
          %ul.wat-cf
        #main-navigation
      #wrapper.wat-cf
        #main
          =yield
          #footer
            .block
              %p
                Copyright &copy;
                =Time.now.year
                Diamond Brite - Powered by
                =link_to "Padrino v.#{Padrino.version}", "http://padrino.github.com", :target => :_blank
        #sidebar=yield_content :sidebar
